bin
build
.classpath
*.DS_Store
gen
.gradle/
.idea
*.iml
.iml
iNaturalist/release
iNaturalist/release/
iNaturalist/src/main/res/values/config.xml
*.keystore
local.properties
.project
res/values/com_crashlytics_export_strings.xml
.settings/
*.so
